<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Резюме</title>
</head>

<body>
   <nav>
      <ul>
         <li><a href="index.html">Головна</a></li>
         <li><a href="cv.html">Моє резюме</a></li>
         <li><a href="contacts.html">Контакт</a></li>
         <li><a href="form.html">Анкета посетииеля ресторана</a></li>
         <li>Блог
            <ol>
               <li><a href="semantics.html">Семантика</a></li>
               <li><a href="front_end.html">Фронтенд</a></li>
            </ol>
         </li>
      </ul>
   </nav><br><br><br><br><br><br>
   <main>
      <article>
         <section>
            <header>
               <h1>Oleksandr Kutycki</h1>
               <img src="../images/me.png" alt="me" width="200"><br><br>
               <div><a href="tel:+380686886868">+38 068 68 686 86</a></div>
               <div><a href="mailto:aleksander.kutycki@gmail.com">oleksandr.kutycki@gmail.com</a></div>
               <div><a href="www.linkedin.com/in/kutycki">www.linkedin.com/in/kutycki</a></div>
            </header>
         </section>
         <br>
         <section>
            <h2>ABOUT ME</h2>
            <hr>
            <p>Creative web developer with 2 days of front end experience and passion for html website design and a firm
               believer in the mobile-first approach. non-W3C certified. Implemented new responsive website approach
               which increased mobile traffic by 0%.</p>
         </section>
         <br>
         <section>
            <h2>EXPERIENCE</h2>
            <hr>
            <h3>Front End Developer</h3>
            <p>March 2021 - Present</p>
            <ul>
               <li>Creating amazing .html files in Visual Studio Code</li>
               <li>Slack experience</li>

            </ul>
         </section>
         <br>
         <section>
            <h2>EDUCATION</h2>
            <hr>
            <img src="../images/uekat.jpeg" alt="logo-uekat">
            <h3>University of Economics in Katowice</h3>
            <p>October 2018 - Present</p>
            <img src="../images/beetroot.png" alt="logo-beetroot" width="304">
            <h3>Beetroot Academy</h3>
            <p>March 2021 - Present</p>
         </section>
         <br>
         <section>
            <h2>SKILLS</h2>
            <hr>
            <ul>
               <li>0 years of HTML/CSS experience</li>
               <li>Innovative problem-solving</li>
               <li>Attention to detail</li>
               <li>Highly organized</li>
               <li>Clear communication</li>
            </ul>
         </section>
      </article>
   </main>
   <footer>

   </footer>
</body>

</html>