<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фронт-енд</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html">Головна</a></li>
            <li><a href="cv.html">Моє резюме</a></li>
            <li><a href="contacts.html">Контакт</a></li>
            <li><a href="form.html">Анкета посетииеля ресторана</a></li>
            <li>Блог
                <ol>
                    <li><a href="semantics.html">Семантика</a></li>
                    <li><a href="front_end.html">Фронтенд</a>
                        <ul>
                            <li><a href="#what">Що таке фронтенд?</a></li>
                            <li><a href="#task">Головне завдання Frontend-розробника</a></li>
                            <li><a href="#exp">Що повинен знати досвідчений фронтенд-розробник?</a></li>
                        </ul>
                    </li>
                </ol>
            </li>
        </ul>
    </nav>
    <main>
        <article>
            <section>
                <h1>Розробка з боку Front end – що це таке і чим відрізняється від Back end?</h1>
                <img class="img" id="img" src="../images/computer.png" alt="computer" width="500" title="alttext">

                <p>Слово “фронтенд” все частіше можна зустріти не тільки на просторах мережі, але і в бесіді у звичайних
                    дружніх тусовках. Напевно ви неодноразово задавалися питанням про те, хто такий фронтенд-розробник,
                    які його завдання, чим він займається, і що таке фронтенд в принципі. Давайте детально розберемося,
                    що ж означає “фронтенд”, яка його відмінність від “бекенд” і якими навичками необхідно володіти, щоб
                    стати затребуваним фронтенд-розробником.</p>
            </section>
            <section>
                <h2 id="what">Що таке фронтенд?</h2>
                <p>Frontend – це публічна частина web-додатків (веб-сайтів), з якою користувач може взаємодіяти і
                    контактувати напряму. У Frontend входить відображення функціональних завдань призначеного для
                    користувача інтерфейсу, що виконуються на стороні клієнта, а також обробка запитів користувачів. По
                    суті, фронтенд – це все те, що бачить користувач при відкритті web-сторінки.</p>
                <p>У свою чергу, web-додаток – клієнт-серверний додаток, в якому клієнтом виступає в основному браузер,
                    а сервером – web-сервер. Логіка web-додатку розподілена між сервером і клієнтом, зберігання даних
                    здійснюється переважно на сервері, обмін інформацією відбувається у мережі. Простіше кажучи, це те,
                    що бачить користувач і які дії виконує кожен раз, коли підключається до мережі інтернет і відкриває
                    будь-який браузер.
                </p>
                <img src="../images/htmlcssjs.png" alt="">

                <p>Frontend розробка – це робота зі створення публічної частини web-додатку, з якою безпосередньо
                    контактує
                    користувач, і функціоналу, який зазвичай виконується на стороні клієнта. Тобто, фронтенд розробник
                    працює над
                    тим, щоб на сайті кожна кнопочка, іконка, текст і вікно не тільки стояли на своєму місці, не
                    перекривали
                    один
                    одного і виглядали цілісно (це веб-верстка), але і щоб вони виконували своє пряме призначення –
                    підштовхували до
                    якоїсь дії (наприклад, щоб кнопка “купити” відкривала кошик, а “play” – запускала відтворення фільму
                    або
                    музики).</p>
                <p>З метою створення затребуваного і доступного продукту (веб-додатки) фронтенд-розробнику необхідно
                    взаємодіяти з
                    іншими програмістами, дизайнерами, маркетологами, аналітиками та іншими фахівцями.</p>
                <p>Компоненти фронтенд розробки:</p>
                <ul>
                    <li>HTML (HyperText Markup Language) кажучи простими словами – це мова розмітки всіх елементів і
                        документів на
                        сторінці, і їх взаємодія в структурі сторінки.</li>
                    <li>CSS (Cascading Style Sheets) – це мова характеристики і стилізації зовнішнього вигляду
                        документа. За
                        допомогою CSS-коду браузер розуміє, як саме необхідно відображати елементи. CSS створює шрифти,
                        кольори,
                        визначає розташування блоків сайту, та інше. Також адаптує один і той же документ в різних
                        стилях,
                        виводить
                        передачу на екран або для читання голосом. </li>
                    <li><a
                            href="https://translate.google.com/translate?hl=en&prev=_t&sl=ru&tl=uk&u=https://dan-it.com.ua/gid-dlja-novichka-javascript">JavaScript</a>
                        – мова, створена оживляти веб-сторінки. Завдання JavaScript – відгукуватися на дії користувача,
                        обробляти
                        натискання клавіш переміщення курсора, кліки мишкою. JavaScript також дає можливість вводити
                        повідомлення,
                        посилати запити на сервер, а також завантажує дані без перезавантаження сторінки, і так далі.
                    </li>
                </ul>
            </section>
            <section>
                <h2 id="task">Головне завдання Frontend-розробника</h2>
                <p>Якщо ви маєте творчий підхід до роботи, бажаєте розробляти і створювати динамічні інтерфейси, вам
                    однозначно
                    дорога у <a
                        href="https://translate.google.com/translate?hl=en&prev=_t&sl=ru&tl=uk&u=https://dan-it.com.ua/program/kiev/front-end/">фронтенд</a>.
                </p>
                <p>Вся фронтенд розробка виконується на стороні користувача, вона не менш важлива ніж бекенд розробка
                    (про неї ми також згадаємо трохи нижче). Основне завдання фронтенд фахівця – це зв’язати
                    представлені дизайнером графічні макети у web-додатку (сторінках сайту) з бекендом і за необхідності
                    реалізувати обчислювальний функціонал на стороні користувача. Основні технології в арсеналі
                    фронтендера це HTML, CSS і JavaScript. Звичайно, при роботі в команді потрібно знати і розбиратися в
                    багатьох процесах, суміжних з роботою фронтенд-розробки .Будучи вже досвідченим фронтенд-розробником
                    потрібно бути знайомим з бекенд-технологіями і розуміти принципи взаємодії користувача і з додатками
                    (UX).</p>
            </section>

            <section>
                <h2 id="exp">Що повинен знати досвідчений фронтенд-розробник?</h2>
                <p>Останнім часом вакансія фронтенд-розробника досить затребувана і актуальна на сайтах з пошуку роботи.
                    У той же час можна зустріти масу вакансій суміжних або схожих за обов’язками з
                    фронтенд-розробниками. Важливо відзначити, що багато хто все ж плутає вакансію фронтенд-розробника з
                    верстальником сайту або дизайнером. В деякій мірі, вивчивши ринок праці складається враження, що
                    фронтенд-розробник – це людина-машина, яка надає цілий спектр послуг, такий собі різноробочий в IT
                    просторі.</p>

                <p>Деякі роботодавці абсолютно не відрізняють фронтенд-розробника від верстальника, пред’являючи до
                    претендента на вакансію фронтенд-розробника вимоги, що абсолютно не відносяться до його профілю.
                    Роботодавці часто самі не знають, що верстальник – це фактично вузькопрофільний фахівець. Його
                    завдання полягає в верстці макету, отриманого від дизайнера, використовуючи при цьому тільки HTML +
                    CSS, і це лише третина від того, що повинен знати junior frontend розробник.</p>
                <p>Що ж стосується досвідченого фронтенд девелопера, він не просто “верстає макети”, він відмінно знає
                    JavaScript, орієнтується в фреймворках і бібліотеках, має уявлення і розуміння того, що розміщується
                    на серверній стороні, і нерідко знає додаткові мови, наприклад PHP або C#.</p>
                <p>Фронтенд-розробник розуміє роботу препроцесорів GULP, LESS, SASS, GRUNT, працює з SVG-об’єктами, DOM,
                    API, AJAX і CORS і так далі. Крім усього іншого є розуміння принципів адаптивної і інтерактивної
                    верстки, UI / UX-проектування, крос-браузерності і крос-платформенності, базового тестування,
                    можливо, також, і знання навичок мобільної розробки. Фронтенд девелопер високого рівня також вміє
                    використовувати графічні редактори, працює з контролем версій Git, GitHub, CVS, з шаблонами різних
                    CMS. Варто відзначити, що дуже важливо також і знання англійської мови на рівні вільного спілкування
                    з замовниками і читання документації.</p>
                <p>Щоб стати затребуваним і досвідченим фахівцем в області фронтенда розробки , необхідно освоїти
                    наступні технології:</p>
                <ul>
                    <li>HTML і CSS
                        <ol>
                            <li>CSS-фреймворки</li>
                            <li> специфікації W3C</li>
                            <li>WHATWG</li>
                            <li>HTML5 / CSS3 Polyfills</li>
                        </ol>
                    </li>
                    <li>вільно працювати з JavaScript;</li>
                    <li>Розуміти логіку роботи клієнт-серверної архітектури в контексті написання реальних програм;</li>
                    <li>Знати популярні бібліотеки і феймворки:
                        <ul>
                            <li>React.js, </li>
                            <li>jQuery</li>
                            <li>Angular.JS,</li>
                            <li>Redux</li>
                            <li>Backbone.js,</li>
                            <li>розуміти принципи побудови сучасних односторінкових додатків (Single Page Application);
                            </li>
                        </ul>
                    </li>
                    <li>препроцесорів CSS
                        <ul>
                            <li>Sass</li>
                            <li>Less</li>
                            <li>Stylus</li>
                        </ul>
                    </li>
                    <li>популярних CMS (WordPress, Drupal, Joomla і т.д.);</li>
                    <li>OOCSS / BEM / SMACSS;</li>
                    <li>ECMAScript 6;</li>
                    <li>HTML5 API;</li>
                    <li>SVG</li>
                    <li>DOM;</li>
                    <li>Розуміти принципи побудови Backend (Node.js, PHP, Ruby, .NET і т. д.);</li>
                    <li>JavaScript транспайлери (Babel);</li>
                    <li>Інструменти дебаггінгу (Chrome Dev Tools, Firebug і так далі);</li>
                    <li>Графічні редактори (Photoshop, Illustrator та інше);</li>
                    <li>Інструменти контролю версій (Git, GitHub, CVS і так далі);</li>
                    <li>Бази даних і мови запитів (SQL, MySql, NoSQL, MongoDB і так далі).</li>
                </ul>
                <p>Також, фронтендер повинен розбиратися і вміти розробляти веб-інтерфейси і веб-додатки, тестувати і
                    масштабувати веб-додатки, читати чужий код з розумінням того, як він працює, володіти навичками
                    soft-skills і бути підготовленим до проходження співбесіди, вміти презентувати себе і свій продукт,
                    мати якісне і “живе” портфоліо.</p>
                <p>Не варто лякатися усього переліку навичок і знань фронтендщика, адже не обов’язково на проекті будуть
                    використовуватися вони всі, на різних проектах використовуються різні комбінації технологій.
                    Фронтендер завжди може знайти проект, виходячи з наявних вмінь, але головною особливістю
                    фронтенд-розробки і програмування в цілому є якраз постійне навчання, і поповнення багажу знань і
                    скіллів.</p>
            </section>
        </article>
    </main>
</body>

</html>