<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Головна</title>
   <link rel="stylesheet" href="../css/normalize.css">
   <link rel="stylesheet" href="../css/style.css">
</head>

<body>
   <div class="container">
      <header>
         <nav>
            <ul>
               <li><a href="index.html">Головна</a></li>
               <li><a href="cv.html">Моє резюме</a></li>
               <li><a href="contacts.html">Контакт</a></li>
               <li><a href="form.html">Анкета посетииеля ресторана</a></li>
               <li>Блог
                  <ol>
                     <li><a href="semantics.html">Семантика</a></li>
                     <li><a href="front_end.html">Фронтенд</a></li>
                  </ol>
               </li>
            </ul>
         </nav>
      </header>
      <main>
         <h1>Мій перший сайт</h1>
         <h2>Я ще тільки вчуся</h2>
         <h3>Але скоро буду фронтенд спеціалістом</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sed provident <a class="link_color" href="">
               adipisci</a> eligendi laborum veniam voluptas modi expedita, inventore, nemo itaque placeat amet
            temporibus?</p>
         <div class="blog_preview">
            <section class="section">
               <h2>Що таке фронтенд?</h2>

               <p>Frontend – це публічна частина web-додатків (веб-сайтів), з якою користувач може взаємодіяти і
                  контактувати напряму. У Frontend входить відображення функціональних завдань призначеного для
                  користувача інтерфейсу, що виконуються на стороні клієнта, а також обробка запитів користувачів. По
                  суті, фронтенд – це все те, що бачить користувач при відкритті web-сторінки.</p>
               <p>У свою чергу, web-додаток – клієнт-серверний додаток, в якому клієнтом виступає в основному браузер,
                  а сервером – web-сервер. Логіка web-додатку розподілена між сервером і клієнтом, зберігання даних
                  здійснюється переважно на сервері, обмін інформацією відбувається у мережі. Простіше кажучи, це те,
                  що бачить користувач і які дії виконує кожен раз, коли підключається до мережі інтернет і відкриває
                  будь-який браузер.</p>
            </section>



            <section class="section">
               <h2>Головне завдання Frontend-розробника</h2>
               <p>Вся фронтенд розробка виконується на стороні користувача, вона не менш важлива ніж бекенд розробка
                  (про неї ми також згадаємо трохи нижче). Основне завдання фронтенд фахівця – це зв’язати
                  представлені дизайнером графічні макети у web-додатку (сторінках сайту) з бекендом і за необхідності
                  реалізувати обчислювальний функціонал на стороні користувача. Основні технології в арсеналі
                  фронтендера це HTML, CSS і JavaScript. Звичайно, при роботі в команді потрібно знати і розбиратися в
                  багатьох процесах, суміжних з роботою фронтенд-розробки .Будучи вже досвідченим фронтенд-розробником
                  потрібно бути знайомим з бекенд-технологіями і розуміти принципи взаємодії користувача і з додатками
                  (UX).</p>
            </section>

            <section class="section">
               <h2>Що таке фронтенд?</h2>

               <p>Frontend – це публічна частина web-додатків (веб-сайтів), з якою користувач може взаємодіяти і
                  контактувати напряму. У Frontend входить відображення функціональних завдань призначеного для
                  користувача інтерфейсу, що виконуються на стороні клієнта, а також обробка запитів користувачів. По
                  суті, фронтенд – це все те, що бачить користувач при відкритті web-сторінки.</p>
               <p>У свою чергу, web-додаток – клієнт-серверний додаток, в якому клієнтом виступає в основному браузер,
                  а сервером – web-сервер. Логіка web-додатку розподілена між сервером і клієнтом, зберігання даних
                  здійснюється переважно на сервері, обмін інформацією відбувається у мережі. Простіше кажучи, це те,
                  що бачить користувач і які дії виконує кожен раз, коли підключається до мережі інтернет і відкриває
                  будь-який браузер.</p>
            </section>
         </div>

      </main>
   </div>
</body>

</html>