<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>LogoAuto Homepage</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Rajdhani:wght@500;700&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="../css/normalize.css">
   <link rel="stylesheet" href="../css/style.css">
</head>

<body>
   <div class="container">
      <header class="header">
         <div class="logo">
            <a href="index.html" class="logo__link link-reset">LOGO<span class="logo__pink">AUTO</span></a>
         </div>
         <ul class="nav">
            <li class="nav__item"><a href="index.html" class="nav__link link-reset">Home</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">About us</a></li>
            <li class="nav__item"><a href="shop.html" class="nav__link link-reset">Shop</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">Blog</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">Contacts</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">How it Works</a></li>
         </ul>
         <div class="auth-form">
            <button class="button auth-form__login button-reset"><a class="link-reset"
                  href="auth.html">Login</a></button>
            <button class="button auth-form__register button-reset"><a class="link-reset"
                  href="auth.html">Register</a></button>
         </div>
      </header>
   </div>
   <div class="container">
      <section class="popular-products">
      </section>
   </div>






   <footer class="footer">
      <div class="logo">
         <a href="#" class="logo__link link-reset">LOGOAUTO</a>
      </div>
      <ul class="nav footer-nav">
         <li class="nav__item footer-nav__item"><a href="index.html"
               class="nav__link link-reset footer-nav__link">Home</a></li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">About us</a>
         </li>
         <li class="nav__item footer-nav__item"><a href="shop.html"
               class="nav__link link-reset footer-nav__link">Shop</a></li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">Blog</a></li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">Contacts</a>
         </li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">How it
               Works</a></li>
      </ul>
   </footer>
</body>

</html>