<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>LogoAuto Homepage</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Rajdhani:wght@500;700&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="../css/normalize.css">
   <link rel="stylesheet" href="../css/style.css">
</head>

<body>
   <div class="container">
      <header class="header">
         <div class="logo">
            <a href="index.html" class="logo__link link-reset">LOGO<span class="logo__pink">AUTO</span></a>
         </div>
         <ul class="nav">
            <li class="nav__item"><a href="index.html" class="nav__link link-reset">Home</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">About us</a></li>
            <li class="nav__item"><a href="shop.html" class="nav__link link-reset">Shop</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">Blog</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">Contacts</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">How it Works</a></li>
         </ul>
         <div class="auth-form">
            <button class="button auth-form__login button-reset"><a class="link-reset"
                  href="auth.html">Login</a></button>
            <button class="button auth-form__register button-reset"><a class="link-reset"
                  href="auth.html">Register</a></button>
         </div>
      </header>
   </div>
   <div class="container">
      <section class="banner banner__margin">
         <div class="banner__left">
            <h1 class="title-h1 h-reset title-h1-margin">
               Could you be our
               <span class="title-h1__pink">next winner?</span>
            </h1>
            <button class="banner__button button">Enter now</button>
         </div>
         <div class="banner__right">
            <img src="../images/banner/car.png" class="banner__img" alt="car">
            <!-- <div class="banner__ellipse"></div> -->
         </div>
      </section>
      <section class="popular-products">
         <h2 class="title-h2 h-reset">Popular products</h2>
         <div class="popular-products__cards">
            <div class="card">
               <img class="card__img" src="../images/popular-products/card1.png" alt="">
               <div class="card__container">
                  <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                     2016</h3>
                  <div class="card__bottom-container">
                     <div class="card__price">$8588
                        <span class="card__new-price">$15000</span>
                     </div>
                     <div class="card__status">Available at your store
                     </div>
                  </div>
               </div>
               <div class="card__open">
                  <img class="card__arrow" src="../images/popular-products/arrow.svg" alt="">
               </div>
            </div>
            <div class="card">
               <img class="card__img" src="../images/popular-products/card2.png" alt="">
               <div class="card__container">
                  <h3 class="title-h3 h-reset">
                     2016 Ford Mustang Shelby GT350</h3>
                  <div class="card__price">$7688
                     <span class="card__new-price">$15000</span>
                  </div>
                  <div class="card__status">Available at your store
                  </div>
               </div>
               <div class="card__open">
                  <img class="card__arrow" src="../images/popular-products/arrow.svg" alt="">
               </div>
            </div>
            <div class="card">
               <img class="card__img" src="../images/popular-products/card3.png" alt="">
               <div class="card__container">
                  <h3 class="title-h3 h-reset">2020 Bugatti Chiron</h3>
                  <div class="card__price">$8588
                     <span class="card__new-price">$15000</span>
                  </div>
                  <div class="card__status">Available at your store
                  </div>
               </div>
               <div class="card__open">
                  <img class="card__arrow" src="../images/popular-products/arrow.svg" alt="">
               </div>
            </div>
            <div class="card">
               <img class="card__img" src="../images/popular-products/card4.png" alt="">
               <div class="card__container">
                  <h3 class="title-h3 h-reset">2019 Porsche 911 Carrera</h3>
                  <div class="card__price">$8588
                     <span class="card__new-price">$15000</span>
                  </div>
                  <div class="card__status">Available at your store
                  </div>
               </div>
               <div class="card__open">
                  <img class="card__arrow" src="../images/popular-products/arrow.svg" alt="">
               </div>
            </div>
         </div>
      </section>
      <section class="how-it-works">
         <h2 class="title-h2 how-it-works__title-h2 h-reset">How it works</h2>
         <div class="how-it-works__cards">
            <div class="how-it-works__card">
               <img class="how-it-works__img" src="../images/how-it-works/touchscreen.png" alt="">
               <div class="how-it-works__container">
                  <h4 class="title-h4 h-reset">1. Selection of the Car</h4>
                  <p class="how-it-works__text">We select and offer several car options from US auctions based on your
                     budget and requirements.</p>
               </div>
            </div>
            <img class="how-it-works__arrow" src="../images/how-it-works/arrow.svg" alt="">
            <div class="how-it-works__card">
               <img class="how-it-works__img" src="../images/how-it-works/movie-tickets.png" alt="">
               <div class="how-it-works__container">
                  <h4 class="title-h4 h-reset">2. Concluding the Agreement</h4>
                  <p class="how-it-works__text">The conclusion of the contract gives the opportunity not to worry about
                     the parties for the fulfillment of their obligations.</p>
               </div>
            </div>
            <img class="how-it-works__arrow" src="../images/how-it-works/arrow.svg" alt="">
            <div class="how-it-works__card">
               <img class="how-it-works__img" src="../images/how-it-works/online-payment.png" alt="">
               <div class="how-it-works__container">
                  <h4 class="title-h4 h-reset">3. Payment through the Bank</h4>
                  <p class="how-it-works__text">Payments are made by invoice, SWIFT transfer through the Bank, which
                     guarantees the transparency and formality of the transaction..</p>
               </div>
            </div>
            <img class="how-it-works__arrow" src="../images/how-it-works/arrow.svg" alt="">
            <div class="how-it-works__card">
               <img class="how-it-works__img" src="../images/how-it-works/winner.png" alt="">
               <div class="how-it-works__container">
                  <h4 class="title-h4 h-reset">4. Car transfer to the customer</h4>
                  <p class="how-it-works__text">
                     Transfer / Delivery of a car to the happy buyer that saved 35-50% from analogs in Ukraine</p>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div class="container-large">
      <section class="reviews">
         <div class="reviews__left">
            <p class="reviews__comment">"Unbelievable this is a dream come true, no way would I ever think I would own a
               car like this. What great blokes. Thank you very much! 5 star from me!!!"</p>
            <p class="reviews__author">Danny Churchman</p>
         </div>
         <div class="reviews__right">
            <img class="reviews__img" src="../images/reviews/danny.png" alt="">
         </div>
      </section>
   </div>
   <div class="container">
      <section class="latest-articles latest-articles__margin">
         <h2 class="title-h2 h-reset">Latest Articles</h2>

         <div class="latest-articles__cards">
            <div class="card latest-articles__card">
               <img class="card__img" src="../images/latest-articles/card1.png" alt="">
               <div class="card__container">
                  <h3 class="title-h3 h-reset">Ferrari 458</h3>
                  <div class="card__status">12 November 2020
                  </div>
               </div>
            </div>
         </div>

         <div class="latest-articles__cards">
            <div class="card latest-articles__card">
               <img class="card__img" src="../images/latest-articles/card2.png" alt="">
               <div class="card__container">
                  <h3 class="title-h3 h-reset">Aquila Gullwing</h3>
                  <div class="card__status">9 November 2020
                  </div>
               </div>
            </div>
         </div>

         <div class="latest-articles__cards">
            <div class="card latest-articles__card">
               <img class="card__img" src="../images/latest-articles/card3.png" alt="">
               <div class="card__container">
                  <h3 class="title-h3 h-reset">2020 Audi S5 Coupe</h3>
                  <div class="card__status">5 November 2020
                  </div>
               </div>
            </div>
         </div>

         <div class="latest-articles__cards">
            <div class="card latest-articles__card">
               <img class="card__img" src="../images/latest-articles/card4.png" alt="">
               <div class="card__container">
                  <h3 class="title-h3 h-reset">Ferrari Purosangue SUV</h3>
                  <div class="card__status">25 September 2020
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <footer class="footer">
      <div class="logo">
         <a href="#" class="logo__link link-reset">LOGOAUTO</a>
      </div>
      <ul class="nav footer-nav">
         <li class="nav__item footer-nav__item"><a href="index.html"
               class="nav__link link-reset footer-nav__link">Home</a></li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">About us</a>
         </li>
         <li class="nav__item footer-nav__item"><a href="shop.html"
               class="nav__link link-reset footer-nav__link">Shop</a></li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">Blog</a></li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">Contacts</a>
         </li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">How it
               Works</a></li>
      </ul>
   </footer>
</body>

</html>