<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>LogoAuto Homepage</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Rajdhani:wght@500;700&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="../css/normalize.css">
   <link rel="stylesheet" href="../css/style.css">
</head>

<body>
   <div class="container">
      <header class="header">
         <div class="logo">
            <a href="index.html" class="logo__link link-reset">LOGO<span class="logo__pink">AUTO</span></a>
         </div>
         <ul class="nav">
            <li class="nav__item"><a href="index.html" class="nav__link link-reset">Home</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">About us</a></li>
            <li class="nav__item"><a href="shop.html" class="nav__link link-reset">Shop</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">Blog</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">Contacts</a></li>
            <li class="nav__item"><a href="" class="nav__link link-reset">How it Works</a></li>
         </ul>
         <div class="auth-form">
            <button class="button auth-form__login button-reset"><a class="link-reset"
                  href="auth.html">Login</a></button>
            <button class="button auth-form__register button-reset"><a class="link-reset"
                  href="auth.html">Register</a></button>
         </div>
      </header>
   </div>
   <div class="container">
      <div class="container__shop">
         <aside class="aside">
            <div class="aside__filter">
               <div class="aside__price">
                  <h3 class="title-h3 h-reset">Price</h3>
                  <div class="aside__minmax">
                     <div class="aside__min">
                        Min
                        <input type="number" min="0" step="1">
                     </div>
                     <div class="aside__stroke">-</div>
                     <div class="aside__max">
                        Max
                        <input type="number" min="0" step="1">
                     </div>
                  </div>
               </div>
               <div class="aside__brands">
                  <h3 class="title-h3 h-reset">Brands</h3>
               </div>
               <div class="aside__search">
                  <h3 class="title-h3 h-reset">Search</h3>
               </div>
            </div>
            <div class="aside__contacts">
               <h3 class="title-h3 h-reset">Contacts Details</h3>
               <p class="aside__text"><span class="aside__bold">Phone:</span> 879-332-9375</p>
               <p class="aside__text"><span class="aside__bold">Email:</span> info@pixsells.io</p>
               <p class="aside__text"><span class="aside__bold">Adress:</span> 456 Hagenes Gardens Suite 808</p>
            </div>
         </aside>
         <section class="our-shop">
            <h1 class="title-h1 h-reset">Our shop</h1>

            <div class="our-shop__cards">
               <div class="card our-shop__card">
                  <img class="card__img" src="../images/popular-products/card1.png" alt="">
                  <div class="card__container">
                     <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                        2016</h3>
                     <div class="card__bottom-container">
                        <div class="card__price">$8588
                           <span class="card__new-price">$15000</span>
                        </div>
                        <div class="card__status">Available at your store
                        </div>
                        <div class="our-shop__flex">
                           <button class="button auth-form__register button-reset our-shop__button"><a
                                 class="link-reset" href="#">Read
                                 more</a></button>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="card our-shop__card">
                  <img class="card__img" src="../images/popular-products/card1.png" alt="">
                  <div class="card__container">
                     <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                        2016</h3>
                     <div class="card__bottom-container">
                        <div class="card__price">$8588
                           <span class="card__new-price">$15000</span>
                        </div>
                        <div class="card__status">Available at your store
                        </div>
                        <div class="our-shop__flex">
                           <button class="button auth-form__register button-reset our-shop__button"><a
                                 class="link-reset" href="#">Read
                                 more</a></button>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="card our-shop__card">
                  <img class="card__img" src="../images/popular-products/card1.png" alt="">
                  <div class="card__container">
                     <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                        2016</h3>
                     <div class="card__bottom-container">
                        <div class="card__price">$8588
                           <span class="card__new-price">$15000</span>
                        </div>
                        <div class="card__status">Available at your store
                        </div>
                        <div class="our-shop__flex">
                           <button class="button auth-form__register button-reset our-shop__button"><a
                                 class="link-reset" href="#">Read
                                 more</a></button>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="card our-shop__card">
                  <img class="card__img" src="../images/popular-products/card1.png" alt="">
                  <div class="card__container">
                     <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                        2016</h3>
                     <div class="card__bottom-container">
                        <div class="card__price">$8588
                           <span class="card__new-price">$15000</span>
                        </div>
                        <div class="card__status">Available at your store
                        </div>
                        <div class="our-shop__flex">
                           <button class="button auth-form__register button-reset our-shop__button"><a
                                 class="link-reset" href="#">Read
                                 more</a></button>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="card our-shop__card">
                  <img class="card__img" src="../images/popular-products/card1.png" alt="">
                  <div class="card__container">
                     <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                        2016</h3>
                     <div class="card__bottom-container">
                        <div class="card__price">$8588
                           <span class="card__new-price">$15000</span>
                        </div>
                        <div class="card__status">Available at your store
                        </div>
                        <div class="our-shop__flex">
                           <button class="button auth-form__register button-reset our-shop__button"><a
                                 class="link-reset" href="#">Read
                                 more</a></button>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="card our-shop__card">
                  <img class="card__img" src="../images/popular-products/card1.png" alt="">
                  <div class="card__container">
                     <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                        2016</h3>
                     <div class="card__bottom-container">
                        <div class="card__price">$8588
                           <span class="card__new-price">$15000</span>
                        </div>
                        <div class="card__status">Available at your store
                        </div>
                        <div class="our-shop__flex">
                           <button class="button auth-form__register button-reset our-shop__button"><a
                                 class="link-reset" href="#">Read
                                 more</a></button>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="card our-shop__card">
                  <img class="card__img" src="../images/popular-products/card1.png" alt="">
                  <div class="card__container">
                     <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                        2016</h3>
                     <div class="card__bottom-container">
                        <div class="card__price">$8588
                           <span class="card__new-price">$15000</span>
                        </div>
                        <div class="card__status">Available at your store
                        </div>
                        <div class="our-shop__flex">
                           <button class="button auth-form__register button-reset our-shop__button"><a
                                 class="link-reset" href="#">Read
                                 more</a></button>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="card our-shop__card">
                  <img class="card__img" src="../images/popular-products/card1.png" alt="">
                  <div class="card__container">
                     <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                        2016</h3>
                     <div class="card__bottom-container">
                        <div class="card__price">$8588
                           <span class="card__new-price">$15000</span>
                        </div>
                        <div class="card__status">Available at your store
                        </div>
                        <div class="our-shop__flex">
                           <button class="button auth-form__register button-reset our-shop__button"><a
                                 class="link-reset" href="#">Read
                                 more</a></button>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="card our-shop__card">
                  <img class="card__img" src="../images/popular-products/card1.png" alt="">
                  <div class="card__container">
                     <h3 class="title-h3 h-reset">2020 Audi S5 Coupe
                        2016</h3>
                     <div class="card__bottom-container">
                        <div class="card__price">$8588
                           <span class="card__new-price">$15000</span>
                        </div>
                        <div class="card__status">Available at your store
                        </div>
                        <div class="our-shop__flex">
                           <button class="button auth-form__register button-reset our-shop__button"><a
                                 class="link-reset" href="#">Read
                                 more</a></button>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
            <nav class="select-page">
               <ul class="select-page__list">
                  <li><a class="link-reset" href="#">1</a></li>
                  <li><a class="link-reset" href="#">2</a></li>
                  <li><a class="link-reset" href="#">3</a></li>
                  <li><a class="link-reset" href="#">4</a></li>
                  <li><a class="link-reset" href="#">...</a></li>
                  <li><a class="link-reset" href="#">10</a></li>
               </ul>
               <button class="button auth-form__login button-reset select-page__button">Next ></button>
            </nav>
         </section>

      </div>
   </div>
   <footer class="footer">
      <div class="logo">
         <a href="#" class="logo__link link-reset">LOGOAUTO</a>
      </div>
      <ul class="nav footer-nav">
         <li class="nav__item footer-nav__item"><a href="index.html"
               class="nav__link link-reset footer-nav__link">Home</a></li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">About us</a>
         </li>
         <li class="nav__item footer-nav__item"><a href="shop.html"
               class="nav__link link-reset footer-nav__link">Shop</a></li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">Blog</a></li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">Contacts</a>
         </li>
         <li class="nav__item footer-nav__item"><a href="" class="nav__link link-reset footer-nav__link">How it
               Works</a></li>
      </ul>
   </footer>
</body>

</html>