<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/normalize.css">
   <link rel="stylesheet" href="../css/style.css">
   <title>/root</title>
</head>

<body>
   <div class="container">
      <header>
         <h1 class="h1-olek"><a href="index.html">Oleksandr Kutycki ront-end developer</a></h1>
         <nav>
            <ul class="nav-list">
               <li><a href="about.html" title="">About me</a></li>
               <li><a href="projects" title="">My projects</a></li>
               <li><a href="homework.html" title="">Homework</a></li>
               <li><a href="contact.html" title="">Contact</a></li>
               <li><a href="https://github.com/kutycki-cloud" title="">GitHub</a></li>
            </ul>
         </nav>
      </header>
      <main>
         <section class="filtration-container">
            <div class="filtration-list">
               <span>selectors</a></span>
               <span>css</span>
               <span>html</span>
               <span>Lorem</span>
               <span>ipsum</span>
               <span>dolor</span>
               <span>sit</span>
               <span>amet</span>
               <span>consectetur</span>
               <span>adipisicing</span>
               <span>Tenetur</span>
               <span>ipsum</span>
               <span>totam</span>
               <span>dolor</span>
               <span>architecto</span>
               <span>fugit</span>
               <span>perspiciatis</span>
               <span>aliquid</span>
               <span>quisquam</span>
               <span>reprehenderit</span>
               <span>at</span>
               <span>Cumque</span>
               <span>consequuntur</span>
               <span>eos</span>
               <span>in</span>
               <span>officia</span>
               <span>eligendi</span>
               <span>ab</span>
               <span>blanditiis</span>
               <span>repudiandae</span>
               <span>ratione</span>
            </div>
         </section>
         <section>
            <article id="html"></article>
            <article id="css"></article>
            <article id="js"></article>
            <article id="lorem"></article>
            <article id="ipsum"></article>
            <article id="dolor"></article>
         </section>
      </main>
      <footer>

      </footer>
   </div>
</body>

</html>