<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/normalize.css">
   <link rel="stylesheet" href="../css/style.css">
   <title>/root</title>
</head>

<body>
   <div class="container">
      <header>
         <h1 class="h1-olek"><a href="index.html">Oleksandr Kutycki ront-end developer</a></h1>
         <nav>
            <ul class="nav-list">
               <li><a href="about.html" title="">About me</a></li>
               <li><a href="projects" title="">My projects</a></li>
               <li><a href="homework.html" title="">Homework</a></li>
               <li><a href="contact.html" title="">Contact</a></li>
               <li><a href="https://github.com/kutycki-cloud" title="">GitHub</a></li>
            </ul>
         </nav>
      </header>
      <main>
         <section class="section-index_html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae placeat
            consequatur, ullam ipsa hic
            possimus facilis cupiditate quas est similique praesentium nihil quasi eligendi? Cumque alias sed nobis
            dolorem doloribus.</section>
         <section class="section-index_html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae placeat
            consequatur, ullam ipsa hic
            possimus facilis cupiditate quas est similique praesentium nihil quasi eligend Cumque alias sed nobis
            dolorem doloribus.</section>
         <section class="section-index_html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae placeat
            consequatur, ullam ipsa hic
            possimus facilis cupiditate quas est similique praesentium nihil quasi eligendi? Cumque alias sed nobis
            dolorem doloribus.</section>
         <section class="section-index_html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae placeat
            consequatur, ullam ipsa hic
            possimus facilis cupiditate quas est similique praesentium nihil quasi eligendi? Cumque alias sed nobis
            dolorem doloribus.</section>
      </main>
      <footer>

      </footer>
   </div>
</body>

</html>