<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../../css/normalize.css">
   <link rel="stylesheet" href="../../css/reset.css">
   <link rel="stylesheet" href="../../css/blog-sections/cahee.css">
</head>

<body>
   <div class="container">
      <header>
         <h1 class="h1">Blog</h1>
         <h2 class="h2">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</h2>
      </header>
      <main>
         <section class="article-grid">
            <article class="block1">
               <img src="../../images/blog-sections/block1.png" alt="">
               <div class="overlay">
                  <div class="date">
                     <div class="day">20</div>
                     <div class="month">NOV</div>
                  </div>
                  <h3 class="h3">Green Smoothies: Too Much of a Good Thing?</h3>
                  <p class="author">By Auskteez - 2 hours ago</p>
               </div>
            </article>
            <article class="block2">
               <img src="../../images/blog-sections/block2.png" alt="">
               <div class="overlay">
                  <div class="date">
                     <div class="day">14</div>
                     <div class="month">NOV</div>
                  </div>
                  <h3 class="h3">Growing Food and a “Thirst” for Innovation
                  </h3>
                  <p class="author">By Auskteez - 3 hours ago</p>
               </div>
            </article>
            <article class="block3">
               <img src="../../images/blog-sections/block3.png" alt="">
               <div class="overlay">
                  <div class="date">
                     <div class="day">10</div>
                     <div class="month">NOV</div>
                  </div>
                  <h3 class="h3">Pesticides & Food: What You Need to Know
                  </h3>
                  <p class="author">By Auskteez - 6 hours ago</p>
               </div>
            </article>
         </section>
         <button class="view-more">view more</button>
      </main>
   </div>
</body>

</html>