<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../../css/normalize.css">
   <link rel="stylesheet" href="../../css/reset.css">
   <link rel="stylesheet" href="../../css/blog-sections/homepage_default.css">
</head>

<body>
   <div class="container">
      <footer>
         <h1 class="h1">who we are</h1>
         <div class="hr-line"></div>
         <h2 class="h2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</h2>
      </footer>
      <main>
         <section class="team-grid">
            <article class="teammate1">
               <div class="overlay">
                  <!-- <img class="twitter" src="../../images/homepage_default/socials/twitter.svg" alt="">
                  <img class="facebook" src="../../images/homepage_default/socials/facebook.svg" alt="">
                  <img class="gmail" src="../../images/homepage_default/socials/gmail.svg" alt=""> -->
               </div>
               <img src="../../images/homepage_default/alex.png" alt="John Handson">
               <h3 class="h3">John Handson</h3>
               <h4 class="h4">Lead Designer</h4>
            </article>
            <article class="teammate2">
               <div class="overlay">
                  <!-- <img class="twitter" src="../../images/homepage_default/socials/twitter.svg" alt="">
                  <img class="facebook" src="../../images/homepage_default/socials/facebook.svg" alt="">
                  <img class="gmail" src="../../images/homepage_default/socials/gmail.svg" alt=""> -->
               </div>
               <img src="../../images/homepage_default/alex.png" alt="Alex Cutter">
               <h3 class="h3">Alex Cutter</h3>
               <h4 class="h4">Developer</h4>
            </article>
            <article class="teammate3">
               <div class="overlay">
                  <!-- <img class="twitter" src="../../images/homepage_default/socials/twitter.svg" alt="">
                  <img class="facebook" src="../../images/homepage_default/socials/facebook.svg" alt="">
                  <img class="gmail" src="../../images/homepage_default/socials/gmail.svg" alt=""> -->
               </div>
               <img src="../../images/homepage_default/elena.png" alt="Elena Simson">
               <h3 class="h3">Elena Simson</h3>
               <h4 class="h4">Artist</h4>
            </article>
            <article class="teammate4">
               <div class="overlay">
                  <!-- <img class="twitter" src="../../images/homepage_default/socials/twitter.svg" alt="">
                  <img class="facebook" src="../../images/homepage_default/socials/facebook.svg" alt="">
                  <img class="gmail" src="../../images/homepage_default/socials/gmail.svg" alt=""> -->
               </div>
               <img src="../../images/homepage_default/lily.png" alt="Lily Allen">
               <h3 class="h3">Lily Allen</h3>
               <h4 class="h4">Graphic Designer</h4>
            </article>
         </section>
      </main>
   </div>
</body>

</html>