<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>LogoAuto</title>
   <link rel="stylesheet" href="../../css/reset.css">
   <link rel="stylesheet" href="../../css/task10-flexbox/style.css">
</head>

<body>
   <header>
      <h1 class="logo">LOGO<span class="logo__color">AUTO</span></h1>
      <nav class="nav">
         <ul class="nav__list">
            <li class="nav__list_item"><a href="#">Home</a></li>
            <li class="nav__list_item"><a href="#">About us</a></li>
            <li class="nav__list_item"><a href="#">Shop</a></li>
            <li class="nav__list_item"><a href="#">Blog</a></li>
            <li class="nav__list_item"><a href="#">Contacts</a></li>
            <li class="nav__list_item"><a href="#">How it Works</a></li>
         </ul>
      </nav>
      <div class="account">
         <div class="login"><a href="">Login</a></div>
         <div class="register">Register</div>
      </div>
   </header>
   <main>
      <div class="banner">
         <div class="banner__title">
            <h2 class="banner__h2">Could you be our <br><span class="banner__h2_color">next winner?</span></h2>
            <button class="banner__enter">Enter now</button>
         </div>
         <div class="banner__img">
            <img class="banner__img_car" src="../../images/task10-flexbox/car.png" alt="">
            <div class="ellipse"></div>
         </div>
      </div>
      <div class="competitions">
         <h2 class="competitions_h2">Latest Competitions</h2>
         <div class="competitions_wrap">
            <section class="competitions__block">
               <img src="../../images/task10-flexbox/audi.png" alt="">
               <div class="description">
                  <h3>2020 Audi S5 Coupe</h3>
                  <div class="price">
                     <span class="price__now">$19.99</span>
                     <span class="price__before">$54.68</span>
                  </div>
                  <span class="tickets">5878 tickets remaining </span>
                  <div class="arrow"></div>
               </div>
            </section>
            <section class="competitions__block">
               <img src="../../images/task10-flexbox/audi.png" alt="">
               <div class="description">
                  <h3>2020 Audi S5 Coupe</h3>
                  <div class="price">
                     <span class="price__now">$19.99</span>
                     <span class="price__before">$54.68</span>
                  </div>
                  <span class="tickets">5878 tickets remaining </span>
                  <div class="arrow"></div>
               </div>
            </section>
            <section class="competitions__block">
               <img src="../../images/task10-flexbox/audi.png" alt="">
               <div class="description">
                  <h3>2020 Audi S5 Coupe</h3>
                  <div class="price">
                     <span class="price__now">$19.99</span>
                     <span class="price__before">$54.68</span>
                  </div>
                  <span class="tickets">5878 tickets remaining </span>
                  <div class="arrow"></div>
               </div>
            </section>
            <section class="competitions__block">
               <img src="../../images/task10-flexbox/audi.png" alt="">
               <div class="description">
                  <h3>2020 Audi S5 Coupe</h3>
                  <div class="price">
                     <span class="price__now">$19.99</span>
                     <span class="price__before">$54.68</span>
                  </div>
                  <span class="tickets">5878 tickets remaining </span>
                  <div class="arrow"></div>
               </div>
            </section>
         </div>
      </div>
   </main>
</body>

</html>