<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../../css/normalize.css">
   <link rel="stylesheet" href="../../css/task1/hard.css">
</head>

<body>
   <div class="container">
      <main>
         <header>
            <a href="http://yourcompany.com">http://yourcompany.com</a>
         </header>
         <nav>
            <ul>
               <li><img src="../../images/task1/img-hard/img00.jpg" alt=""><a href="">Home</a></li>
               <li><img src="../../images/task1/img-hard/img01.jpg" alt=""><a href="">About</a></li>
               <li><img src="../../images/task1/img-hard/img02.jpg" alt=""><a href="">Services</a></li>
               <li><img src="../../images/task1/img-hard/img03.jpg" alt=""><a href="">Contact</a></li>
            </ul>
         </nav>
         <div class="menu">
            <ul>
               <li><a href="">Lorem, ipsum</a></li>
               <li><a href="">dolor sit</a></li>
               <li><a href="">adipisicing elit</a></li>
               <li><a href="">alias provident nemo</a></li>
               <li><a href="">placeat optio sapiente</a></li>
            </ul>
         </div>
         <section>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat at possimus corrupti! Aliquam
               voluptates repellendus ea nostrum iusto dicta, accusantium quam. Atque veritatis maxime magnam modi
               doloribus in id, nam facere nesciunt sequi quae, nemo sit labore, voluptas excepturi laudantium
               asperiores deleniti veniam repudiandae enim quidem. Tempora, tenetur nulla voluptatibus aspernatur
               ipsam
               repellat porro voluptate odit, non, deleniti rem. Quasi quidem tempore beatae sit magni deleniti ab
               placeat expedita aspernatur odit earum ex voluptate iste alias blanditiis dignissimos molestiae
               aliquid
               nostrum consectetur, dolores recusandae laboriosam. Illum, saepe dignissimos! Molestiae perferendis
               soluta veritatis quasi vel tenetur facere nihil explicabo dolores sequi?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam velit earum facilis, odio obcaecati
               officiis, atque facere harum, perferendis illum mollitia exercitationem officia quis a dolorum
               adipisci
               porro dolorem! Unde nisi earum perspiciatis cupiditate blanditiis a dignissimos deserunt itaque
               aspernatur.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores vel sequi adipisci, dolor
               repellendus, veritatis delectus error placeat illo quod ullam voluptatibus nam eligendi labore minima
               voluptates impedit quo.</p>
         </section>
         <aside>
            <h2></h2>
            <ul>
               <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit</li>
               <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit</li>
               <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit</li>
            </ul>
         </aside>
      </main>
      <footer>
      </footer>
   </div>
</body>

</html>