<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Анкета посетииеля ресторана</title>
   <link rel="stylesheet" href="../../css/normalize.css">
   <link rel="stylesheet" href="../../css/task1/msw.css">
</head>

<body>
   <header>
      <nav>
         <ul>
            <li><a href="../homework.html">Головна</a></li>
            <li><a href="cv.html">Моє резюме</a></li>
            <li><a href="contacts.html">Контакт</a></li>
            <li><a href="form.html">Анкета посетииеля ресторана</a></li>
            <li><a href="msw.html">My first website</a></li>
            <li>Блог
               <ol>
                  <li><a href="semantics.html">Семантика</a></li>
                  <li><a href="front_end.html">Фронтенд</a></li>
               </ol>
            </li>
         </ul>
      </nav>
   </header>

   <main>
      <footer>
         <h1>My simple website</h1>
      </footer>
      <img class="sunset" src="../../images/task1/img-simple/sunset.jpg" alt="sunset">
      <p>Lorem, ipsum dolor sit amet consectetur <span class="italic"> adipisicing elit</span> . Accusamus minus
         ducimus earum quam, aliquam molestias
         <span class="bold">non dignissimos magni doloremque labore</span> . Quasi possimus dolores consectetur
         aliquid
         aperiam, id? Molestias? doloribus <a href="#">etius</a> deserunt velit, architecto libero sit debitis
         accusantium
         maiores, animi amet excepturi fugiat maxime id exercitationem! Dolor, voluptates! Ad, repudiandae!
      </p>
      <div class="img">
         <img src="../../images/task1/img-simple/car01.jpg" alt="car1">
         <img src="../../images/task1/img-simple/car02.jpg" alt="car2">
         <img src="../../images/task1/img-simple/car03.jpg" alt="car3">
         <img src="../../images/task1/img-simple/car04.jpg" alt="car4">
         <img src="../../images/task1/img-simple/car05.jpg" alt="car5">
      </div>
      <p>
         <a href="#">Lorem ipsum</a> dolor sit amet consectetur adipisicing elit. Voluptatibus rerum sit a odit,
         nam
         cupiditate debitis ipsum, ipsa reprehenderit laborum architecto saepe, quasi delectus. Magni nostrum
         repellendus tempore quis laboriosam.
      </p>
      <footer>
         <p> &copy; Copyright</p>
      </footer>
   </main>

</body>

</html>