html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body {
   background-color: #b07cf7;
}

.container {
   font-family: 'Raleway', sans-serif;
   color: white;
}

header {
   max-width: 560px;
   margin: 0 auto;
   margin-top: 90px;
   margin-bottom: 45px;
   text-align: center;
   

}

.h1 {
   font-size: 90px;
   font-weight: bold;
   margin: 0;
   margin-bottom: 25px;
}

.h2 {
   font-size: 17px;
   font-weight: lighter;
   margin: 0;
}


section {
   text-align: center;
   margin-top: 45px;
   margin-bottom: 45px;
}

.article-grid article {
   display: inline-block;
   position: relative;
   width: 350px;
   height: 310px;
   margin: 15px;
   background-color: #000;
   box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
   cursor: pointer;
}

.article-grid img {
   width: 350px;
   height: 310px;
   object-fit: cover;
}

.article-grid .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 350px;
   height: 310px;
   text-align: left;
   z-index: 1;
   background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 40%);

}

.article-grid .overlay:hover {
   background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 90%);
   transition: all 0.7s ease-in;

   

}



.article-grid .date {
   position: absolute;
   display: block;
   width: 60px;
   height: 60px;
   border-radius: 5px;
   background-color: rgb(0, 0, 0, 0.5);
   top: 30px;
   left: 30px;
   z-index: 2;
   text-align: center;

}

.date {
   z-index: 3;
   font-weight: bold;
   opacity: 1;

}
.date .day {
   font-size: 32px;
}
.date .month {
   font-size: 21px;
}

.overlay .h3 {
   position: absolute;
   left: 20px;
   bottom: 55px;
   max-width: 320px;

   font-size: 20px;  
   font-weight: bold;
}

.overlay .author {
   position: absolute;
   left: 20px;
   bottom: 22px;

   font-size: 13px;
   font-weight: lighter;

}




.view-more {
   display: block;
   width: 200px;
   height: 55px;
   margin: 0 auto;
   margin-bottom: 120px;
   background-color: #f72b3b;
   color: white;
   text-transform: uppercase;
   border: none;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
   cursor: pointer;

}

.view-more:hover {

   background-color: #ff5f6d;
   color: rgb(254, 232, 232);
   transition: all 0.1s ease-in;


}
