<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../../css/normalize.css">
   <link rel="stylesheet" href="../../css/photoshop-task/text-editor.css">
</head>

<body>
   <div class="container">
      <section class="paper">
         <article>
            <div class="editor">
               <div class="title">

               </div>
               <div class="tools">

               </div>
            </div>
            <div class="date">Roy Batty, 2019</div>
            <h1 class="h1">Like Tears in Rain</h1>
            <h2 class="h2">Where am I going? How long have I got?</h2>

            <p>I've seen things you people wouldn't believe. Attack ships on fire off the shoulder of Orion. I watched
               C-beams glitter in the dark near the Tannhauser gate. All those moments will be lost in time... like
               tears
               in rain... Time to die.</p>
            <p>I don't know why he saved my life. Maybe in those last moments he loved life more than he ever had
               before. Not just his life - anybody's life; my life. All he'd wanted were the same answers...</p>
         </article>
      </section>
   </div>
</body>

</html>