<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../../css/css-position/smile.css">

</head>

<body>
   <div id="wrapper">
      <div class="eye1"></div>
      <div class="eye2"></div>
      <div class="noise"></div>
      <div class="mouth1"></div>
      <div class="mouth2"></div>
   </div>
</body>

</html>