.container {
   width: 940px;
   margin: 0 auto;
}

/* *{
   border: 1px solid black ;
} */




.h1 { 
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 47px;
   line-height: 64px;
 
   color: #070707;
}

.header {
   border-bottom: 2px solid #828282;
}

.nav__list {
   padding: 0;
   list-style: none;
   text-align: center;

}
.nav__item {
   display: inline-block;
   margin: 0 15px;


}

.nav__link {
   font-family: Open Sans;
   font-size: 18px;
   line-height: 1.36;
   color: #828282;
   text-decoration: none;
   padding: 0 3px;
   margin: 30px 0;
}

.nav__link:active {
   color: #070707;
}

.nav__item:first-letter{
   text-transform: capitalize;
}

.home__img {
   margin-bottom: 100px;
   width: 100%;   
}






h2 {
   font-family: Open Sans;
   font-style: normal;
   font-weight: 700;
   font-size: 34px;
   line-height: 46px;
   text-align: center;
   color: #070707;
   
}

.about {
   background: #F6F6F6;
   height: 506px;
   padding-bottom: 80px;
   padding-top: 70px;


   width: 100vw;
   min-width: 940px;
   box-sizing: border-box;
   position: relative;
   transform: translateX(-50%);
   left: 50%;

}

.about p {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #070707;
}

.skills {
   padding-top: 70px;
}

.skills p {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #070707;
   padding-top: 30px;
}

.skills div {
   display: inline-block;
   height: 225px;
   width: 170px;
   text-align: center;
    margin: 80px 30px 110px; /*90px Figma */
}

.skills div img {
   height: 90px;
}

.figma img {
   width: 58px!important;
   transform: translateY(-10px);
}

.skills div p {
   font-family: Gilroy-Bold;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color: #828282;
}

.portfolio {
   height: 2253px;
   background: #F6F6F6;
   padding-top: 90px;
   text-align: center;

   width: 100vw;
   min-width: 940px;
   box-sizing: border-box;
   position: relative;
   transform: translateX(-50%);
   left: 50%;
}


.portfolio img {
   padding-top: 30px;
   width: 936px;
}

.portfolio a {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   text-decoration-line: underline;
   color: #070707;
}

.reebok, .braun {
   margin-top: 80px;
}


.contacts p {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #070707;
   padding-bottom: 70px;
}

.contacts a {
   text-align: center;
   display: block;
   padding-bottom: 20px;
}

.socials__list {
   padding: 0;
   list-style: none;
   text-align: center;
}
.socials__item {
   display: inline-block;
   margin: 0 15px;
}

.likeme {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   color: #828282;
   padding-top: 20px;
}
