* {
box-sizing: border-box;
}

body {
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   margin: 0;
}

.container {
   max-width: 1200px;
   min-width: 300px;
   margin: 0 auto;
}



/* Header */

.h1-olek{
   margin: 15px 0 45px;
   text-align: center;
}

.nav-list {
   font-size: 21px;

   list-style-type: none;
   padding-left: 0;  
   margin: 0;
   text-align: center;
   vertical-align: bottom;

  
}

.nav-list li{
   display: inline-block;
   text-align: center;
   margin: 9px 13px;
}

header a{
   color:black;
   text-decoration: none;
   padding: 10px 13px;
}

header a:hover {
   color:rgb(202, 45, 45);
   text-decoration: none;
}






/* Main */

main a { 
   text-decoration: none;
   border-bottom: 1px solid;
   line-height: 120%;
}

main a:link {
   color: #008ace;
}

main a:hover {
   color: rgb(202, 45, 45);
}

main a:visited {
   color: rgb(179, 39, 179);
}


/* Works on index.html */
main .section-index_html {
   display: inline-block;
   background-color: chocolate;
   margin: 10px 10px;
   padding: 15px;
   min-width: 200px;
   width: 10%;
}



/* Works on homework.html */

.filtration-container {
   margin: 200px auto;
   max-width: 900px;
   min-width: 300px;
}

.filtration-list {
   list-style-type: none;
   padding-left: 0;
}

.filtration-list span {
   display: inline-block;
   cursor: pointer;
   background-color: #e5f1ff ;
   color: #0089ff;
   font-size: 23px;
   font-weight: 400;
   padding: 3px 11px;
   border-radius: 5px;
   text-transform: lowercase;
   margin-bottom: 6px;
   margin-right: 6px;
}

.filtration-list span:before {
   content: '# ';
   color: #74bdff;
   
}


.filtration-list span:hover,
.filtration-list span:active {
background-color: #f41424;
color: white;
}


.filtration-list span:hover::before,
.filtration-list span:active::before  {
   color: #f98991;
}  


.homework-container {
   /* border: 1px solid black; */
   /* border-radius: 35px; */
   margin: 0 auto;
}

.homework-container article {
   display: inline-block;
   /* border: 1px solid black; */
   border-radius: 35px;
   box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
   margin: 35px 20px;
   vertical-align: top;
   padding: 75px;
   width: calc(50% - 50px);
   min-height: 500px;
}
